<p><b>На каком курсе вы учитесь? </b>
  <input type="text" size="10" name="kurs" [(ngModel)]="kurs">
</p> 

<a class="knopka" (click)="update_list(kurs)">Показать расписание экзаменов моего курса</a>

<table>
    <tr>
        <td>
            <p> Тип </p>
        </td>
        <td>
            <p> День </p>
        </td>
        <td>
            <p>Неделя </p>
        </td>
        <td>
            <p> Название </p>
        </td>
        <td>
                <p> Пара </p>
            </td>
            <td>
                <p> Факультет </p>
            </td>
                    <td>
                    <p> Преподаватель </p>
                </td>
    </tr>
    <tr *ngFor="let predmet of predmets">
        <td>
            <p>{{predmet["tip"]}}</p>
        <td>
            <p> {{predmet["day"]}}</p>
        </td>
        <td>
            <p> {{predmet["week"]}}</p>
        </td>
        <td>
            <p> {{predmet["name"]}}</p>
        </td>
        <td>
                <p> {{predmet["para"]}}</p>
            </td>
            
          <td>
                  <p> {{predmet["fakultet"]}}</p>
              </td>
                    <td>
                        <p> {{predmet["teacher"]}}</p>
                    </td>
    </tr>
      </table>