
 
  <h2 align="center" style="color: black">Расписание экзаменов</h2>

  <p align="center" style="color:gray">Здравствуй, дорогой друг! На этом сайте ты можешь посмотреть расписание своих
    экзаменов в этом семестре. Учи, и да не отчислен будешь.</p>

  <span><img img width="200" height="410" src="https://sun9-43.userapi.com/c851428/v851428543/1ccb50/SumiUaVvRYI.jpg"
      class="leftimg"></span>
  <span><img img width="200" height="410" src="https://sun9-43.userapi.com/c851428/v851428543/1ccb50/SumiUaVvRYI.jpg"
      class="rightimg"></span>
  <br>

  
      <br><br><br>
      <p align="center">
        <button class="b1">
            <img src="https://cdn.promodj.com/afs/0a82f19bbdb7363034ad4bf0df9155a512:resize:75x75:fill:ffffff:80e99c"
              alt="" style="vertical-align:middle">
              <a routerLink="/raspisanie">
              Просмотреть расписание
              </a>
          </button>
      </p>
      <a routerLink="/admin">
        <br><br><br><br><br><br><br><br><br>
      <h6 *ngIf = "isAdmin" align="center" style="color: black">Перейти на админку</h6>
      </a>

      <a (click) = "logout()" routerLink="/authorisation">
        <br><br><br>
        <h6 align="center" style="color: brown">Выход</h6>
      </a>
      